fastapi==0.98.0
uvicorn==0.20.0
requests==2.31.0
cryptography>=41.0.4
jinja2==3.1.2
datamodel-code-generator==0.22.1
pandas==2.1.1
astor==0.8.1
websockets==12.0
fastapi-jwt-auth==0.5.0
docker==7.0.0
redis==5.0.1
python-dotenv==1.0.0
cachetools==5.3.3
dropbase==0.3.3
openai==0.28.0
sqlalchemy==1.4.46
psycopg2-binary==2.9.5
bcrypt==4.0.1
fastapi-jwt-auth==0.5.0
casbin==1.31.0
